@import url('https://fonts.googleapis.com/css?family=Inter: 400, 500, 600, 700, 800, 900');
@import url('https://fonts.googleapis.com/css?family=Lato');
:root {
  --heading-font-family: 'Inter', sans-serif;
  --font-family: 'Lato', sans-serif;
}
.d-header {
  background-color: #3E0E58;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
}